{% extends "base.html" %}
{% load static %}
{% block content %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="container-fluid events-container">
    <div class="row">
        <!--Events main paragraph-->
        {% include 'events/includes/event_paragraph.html' %}
    </div>
</div>
<div class="container mt-4 mb-3">
    <div class="row">
        <!--Weekly Events Table-->
        {% include 'events/includes/event_table.html' %}
        
        <!--Contact details-->
        {% include 'events/includes/contact_info.html' %} 
        
    </div>
</div>
{% endblock %}