html {
    height: 100%;
}
body {
    font-family: 'Amatic SC', cursive;
}

.hero-image {
    height: 100vh;
    background: url('/media/home1.jpg') no-repeat center center fixed;
    background-size: cover;
    }
    
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}
.landing-btn,
.landing-btn {
    background: #4A314D ;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #F40076;
    color: white;
}


.landing-button:hover,
.landing-button:active,
.landing-button:focus
    {
    background: #F40076;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/*------------------- Landing Quote */
.landing-quote {
min-height:60vh;
background: url('/static/images/landing/quote-background.jpg') no-repeat center center fixed;
background-size: cover;
position: relative;
opacity: 0.9;
}

.blockquote {
font-size: 2rem;
}

.party-landing-container {
min-height:60vh;
background: url('/static/images/landing/party-background.jpg') no-repeat center center fixed;
background-size: cover;
position: relative;
opacity: 0.9;
}

.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.customer-toast {
    overflow: visable;
}

.toast-capper {
    height: 2px;
}

/* ------Footer */
footer {
	background-color: #FFF;
	color: #fff;
	min-height: 120px;
	margin: 0;
}

#footer-details {
	padding: 2.5rem;
}


/* footer icons */

.fab {
	padding: 1.5rem;
	font-size: 2rem;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.footer-details {
	background: #89D2DC;
	color: white;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 1.5rem;
	line-height: 7px;
	color: #89D2DC;
	background: transparent;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background: #F6C0D0;
}
nav a:hover {
	background-color: #F6C0D0;
	color: #fff;
}
/*Parties page*/

.parties-container{
background: url('/static/images/services/parties-1.jpg') no-repeat center center fixed;
background-size: cover;
height: 80vh;
opacity: 0.9;
}

.heading-parties {
    font-size: 1.8rem;
    color:#F6C0D0 ;
}

.parties-paragraph {
    font-size: 1.2rem;
    color: #fff;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}