<section class="hero-image">
    <div class="landing-text px-2">
        <h1 class="display-2 text-uppsercase landing-main-heading mb-5">The Nail Hutt
        </h1>
        <h2 class="sub-heading mb-5">Life is to short, Treat your nails!
        </h2>
        <div class="mt-5">
            <a href="{% url 'products' %}" class="btn rounded-0 pt-3 mr-lg-3 landing-button-uppsercase">Buy a product now!
            </a>
            <a href="" class="btn rounded-0 pt-3 mr-lg-3 landing-button-uppsercase">Book an appointment now!
            </a>
        </div>
    </div>
</section>