<div class="events-container-landing">
    <div class="container">
        <div class="row d-flex align-items-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-12 col-md-8 col-lg-6  mb-3 mt-3 jumbotron">
                <h2 class="text-center main-heading"><strong>TheNailHutt</strong> nail parties for everyone!</h2>
                <hr class="divider-pink w-50 mt-4">
                                <p  class = "text-center landing-paragraph mb-lg-4 mt-lg-4">
                    Nail parties are the perfect way to enjoy time with friends, whether it be a special occasion or a “just because” get together with the girls. And don't forget, you can make someone's day with a nail party for one by sending us to a local nursing home or hospital!
                </p>
                <div class="text-center mt-4">
                <a href="{% url 'parties' %}" class="btn button-black  uppercase px-3">
                    View our parties
                </a>
                </div>
            </div>
        </div>
    </div>
</div>