<div class="landing-services-container py-5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-sm-12 col-md-6 col-lg-5 text-center p-4">
                    <h2 class="text-center pt-5 main-heading">Nail Extentions</h2>
                    <p class="landing-paragraph mb-lg-4 mt-lg-5">
                        Artificial nails, also known as fake nails, false nails, fashion nails, acrylic nails, nail extensions or nail enhancements, are extensions placed over fingernails as fashion accessories.
                    </p>
                    <div class="text-center mt-5 mb-3">
                        <a href="" class="btn-services uppercase-3">
                            View our services
                        </a>
                    </div>
                </div>

            </div>
        </div>
</div>