<div class="party-landing-container text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm12 col-md-8 col-lg-6 mb-3 mt-3">
            <h2 class="text-center para-main-heading">Nail Parties</h2>
            <p class="text-center landing-paragraph mb-lg-4 mt-lg-4">
                Something to celebrate? Whether you're looking to host a hen do, birthday party, <strong>The Nail Hutt</strong> are the people for any event or get-together. 
            </p>
            <div class="text-center mt-4">
                <a href="{% url 'parties' %}" class="party-btn uppercase px-3"> Learn more..
                </a>
            </div>
            </div>
        </div>
    </div>
</div>