<div class="party-container-landing">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-sm12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron">
            <h2 class="text-center main-heading">The Nail Hutt</h2>
            <p class="text-center landing-paragraph mb-lg-4 mt-lg-4">
            </p>
            <div class="text-center mt-4">
                <a href="" class="party-btn uppercase px-3">Take a look at our party's!
                </a>
            </div>
            </div>
        </div>
    </div>
</div>