<div class="container-fluid parties-container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-3 col-lg-6 offset-lg-5 mt-3 mt-md-5 py-3 text-center parties-text-block">
            <h1 class="uppercase main-heading heading-parties"> Nail Parties</h1>
            <hr class="w-25 my-3">
            <p class="parties-paragraph" data-aos="fade-up" data-aos-duration="1200" data-aos-easing="ease-in-out">
                Host your next special event with The Nail Hutt. Contact us to plan your fun and relaxing celebration. :
                <br />Whether it’s for a birthday, baby shower, bridal party, kids parties or corporate event, we will
                work to fit your needs..
                <br />
                Our salon is available for reservation or we can bring the Nail Party to you!
            </p>
            <p class="parties-paragraph">
                Let's book a day to remember.
                <br />
            </p>
            <img src="{{ STATIC_URL }}icons/nails-icon-1.jpg" alt="icon-nail">
        </div>
    </div>
</div>